.msg{
    color: gray;
    text-indent: 15px;
    display:block;
}
.msg:before{
    content: "-";
}
.contact{
    margin-right: 10px;
    width: 45px;
    height: 45px;
}
.msg-foto {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 1px solid lightgray;
    margin-right: 10px;
}