<ion-list>
    <ion-item button *ngFor="let item of show" (click)="abreSalaChat(item.nome);">
      <ng-container *ngIf="item.foto.foto==''; else elseTemplate">
          <ion-icon name="contact" class="contact" item-start></ion-icon>  
      </ng-container>
      <ng-template #elseTemplate>
          <img class="msg-foto" [src]="item.foto.foto" item-start/>  
      </ng-template>
      
      <ion-label>{{ item.nome }}<br>
        <span class="msg">{{ item.lastmsg }}</span>
      </ion-label>
      <ion-badge *ngIf="item.n!=0">{{ item.n }}</ion-badge>
    </ion-item>
</ion-list>
<!-- fab placed to the bottom start -->
<ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="startChat();">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>