<ion-app>
    <ion-router-outlet main></ion-router-outlet>
    <ion-tabs *ngIf="this.global.logado">
            <ion-tab-bar slot="bottom">
          
              <ion-tab-button *ngFor="let tab of tabs" [tab]="tab.tab">
                  <ion-label>{{ tab.label }}</ion-label>
                  <ion-icon [name]="tab.icone"></ion-icon>
                  <ion-badge *ngIf='tab.tab=="chat" && global.messageCache.length!=0'>{{ global.messageCache.length }}</ion-badge>
              </ion-tab-button>
          
            </ion-tab-bar>
      </ion-tabs>
</ion-app>
