<div style="padding: 30px;">
  <input type="text" [(ngModel)]="nome" placeholder="Nome"/>
  <input type="text" [(ngModel)]="login" placeholder="Login"/>
  <input type="text" [(ngModel)]="email" placeholder="Email"/>
  <input type="password" [(ngModel)]="senha" placeholder="Senha"/>
  <input type="password" [(ngModel)]="senhaRepeat" placeholder="Repita a senha"/>
  <span>{{ this.aviso }}</span>
  <button (click)="registra()">Cadastrar</button>
  <a (click)="this.global.cadastrar=false;">< Voltar</a>
</div>