<ion-content>
      <ng-container *ngIf="this.global.logado; else loginTemplate">
            <div class="userPhoto" (click)="tirarFoto()">
                  <i class="fas fa-user"></i>
                  <img class="foto" [src]="this.global.user.foto.foto"/>
            </div>
            <button class="red" (click)="logout()" style="width: 80%;margin: auto;">Deslogar</button>
      </ng-container>
      <ng-template #loginTemplate>
            <div style="max-width: 700px; display: block; margin: auto;">
                  <img id="logoImg" src="/assets/icone.png"/>
                  <ng-container *ngIf="!this.global.cadastrar; else registerTemplate">
                        <app-login-form></app-login-form>
                  </ng-container>
                  <ng-template #registerTemplate>
                        <app-register-form></app-register-form>
                  </ng-template>
            </div>
      </ng-template>
</ion-content>
