<ion-content>
      <ng-container *ngIf="this.global.logado; else loginTemplate">

      </ng-container>
      <ng-template #loginTemplate>
            <div style="max-width: 700px; display: block; margin: auto;">
                  <img id="logoImg" src="/assets/icone.png"/>
                  <ng-container *ngIf="!this.global.cadastrar; else registerTemplate">
                        <app-login-form></app-login-form>
                  </ng-container>
                  <ng-template #registerTemplate>
                        <app-register-form></app-register-form>
                  </ng-template>
            </div>
      </ng-template>
</ion-content>
